@import "tailwindcss";

*,
*::after,
*::before {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

input {
  /* border: 1px solid #a1a1a1; */
  padding: 0.5rem;
  border-radius: 13px;
}

input:focus {
  outline: none;
}

@media screen and (min-width: 550px) {
  .create-account {
    font-size: 2em;
  }
  .lets-go {
    text-align: center;
  }
  .lets-go button {
    width: 350px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 620px) {
  .first-name-and-last-name {
    display: flex;
    flex-direction: row;
    gap: 1.4em;
  }
  .first-name-and-last-name input {
    width: 100%;
  }

  .lets-go h1 {
    font-size: 2.5em;
  }
  .lets-go p,
  .lets-go button {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    flex-direction: row;
    padding: 0;
  }
  .main-text {
    text-align: center;
  }
  .sided {
    width: 300px;
    height: 100vh;
    margin: 0;
    /* border: 1px solid black; */
    background-color: #09f104;
  }
  .auth {
    flex-direction: row;
  }
  .auth div {
    width: 100%;
  }
  .selection {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    padding: 2.5em;
    /* border: 1px solid black; */
    justify-content: center;
    /* gap: 1em; */
  }
}

/*  *Loader */
/* From Uiverse.io by alexruix */
.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #2d2a32;
  animation: text_713 3.5s ease both infinite;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #09f104;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fafdf6;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}
